__pycache__/
checkpoints/
sample_objects/
scenes_generated/
successful_grasp/
__pycache__
checkpoints
sample_objects
scenes_generated
successful_grasp
__pycache__/*
checkpoints/*
sample_objects/*
scenes_generated/*
successful_grasp/*