__pycache__/
checkpoints/
sample_objects/
scenes_generated/
successful_grasp/
venv/
__pycache__
checkpoints
sample_objects
scenes_generated
successful_grasp
successful_grasp_old
venv
__pycache__/*
checkpoints/*
sample_objects/*
scenes_generated/*
venv/*
*.so
*.o
BlenderProc
BlenderProc/
objscenes_generated
objscenes_generated/
hdf5scenes_generated
hdf5scenes_generated/
texture_dataset
texture_dataset/
test.py
unet_checkpoints/*
simple_objects
simple_objects/
ros_ws/src/zed-ros-wrapper
ros_ws/build
ros_ws/devel
ros_ws/src/drivers
.vscode
sgnet_checkpoints/*
IPA-3D1K
pklscenes_generated