__pycache__/
checkpoints/
sample_objects/
scenes_generated/
venv/
__pycache__
checkpoints
sample_objects
scenes_generated
STEP1_pklgrasp_generated
STEP2_pklscene_generated
successful_grasp_old
venv
__pycache__/*
checkpoints/*
sample_objects/*
scenes_generated/*
venv/*
*.so
*.o
BlenderProc
BlenderProc/
objscenes_generated
objscenes_generated/
STEP3_hdf5scene_generated
texture_dataset
texture_dataset/
test*
unet_checkpoints/*
simple_objects
simple_objects/
ros_ws/src/zed-ros-wrapper
ros_ws/build
ros_ws/devel
ros_ws/src/drivers
ros_ws/src/arm_pkg/scripts/*.npy
ros_ws/src/arm_pkg/scripts/Founded_ChessPoint.png
.vscode
sgnet_checkpoints/*
IPA-3D1K
pklscenes_generated
DataSet*
DataSet.tar.gz
blenderproc_test
zed_test/*.npy
zed_test/*.png
hdf5scenes_generated
*.whl
driver_backup