<?xml version="1.0" ?>
<robot name="robotiq_epick_extend_visualization" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="epick_base">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.001521468280518744 -8.327651370715472e-10 0.004640127539862546"/>
      <mass value="0.3785313071771136"/>
      <inertia ixx="0.000178" ixy="0.0" ixz="-1e-06" iyy="0.000141" iyz="-0.0" izz="0.000306"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://robotiq_epick_extend_visualization/meshes/epick_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://robotiq_epick_extend_visualization/meshes/epick_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="epick_body_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0.0 0.011"/>
    <parent link="epick_base"/>
    <child link="epick_body"/>
  </joint>

  <link name="epick_body">
    <inertial>
      <origin rpy="0 0 0" xyz="-1.2822483498983834e-05 2.979359950254862e-08 0.04999856193861457"/>
      <mass value="2.921844047943221"/>
      <inertia ixx="0.003985" ixy="0.0" ixz="2e-06" iyy="0.003203" iyz="0.0" izz="0.001999"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.0 -0.0 -0.011"/>
      <geometry>
        <mesh filename="package://robotiq_epick_extend_visualization/meshes/epick_body.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.0 -0.0 -0.011"/>
      <geometry>
        <mesh filename="package://robotiq_epick_extend_visualization/meshes/epick_body.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="epick_extend_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.0 0.0 0.09955"/>
    <parent link="epick_body"/>
    <child link="epick_extend"/>
  </joint>

  <link name="epick_extend">
    <inertial>
      <origin rpy="0 0 0" xyz="-7.266048443006144e-17 -7.629395937518559e-09 0.03799999999999991"/>
      <mass value="0.15181620834766535"/>
      <inertia ixx="7.6e-05" ixy="-0.0" ixz="0.0" iyy="7.6e-05" iyz="-0.0" izz="6e-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 -0.0 -0.11055"/>
      <geometry>
        <mesh filename="package://robotiq_epick_extend_visualization/meshes/epick_extend.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver">
        <color rgba="0.7 0.7 0.7 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 -0.0 -0.11055"/>
      <geometry>
        <mesh filename="package://robotiq_epick_extend_visualization/meshes/epick_extend.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="suction_cup_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 -0.0 0.076"/>
    <parent link="epick_extend"/>
    <child link="suction_cup"/>
  </joint>

  <link name="suction_cup">
    <inertial>
      <origin rpy="0 0 0" xyz="-1.410228548302926e-12 -7.629395925850442e-09 0.017251953219943994"/>
      <mass value="0.059864212227098965"/>
      <inertia ixx="1e-05" ixy="-0.0" ixz="0.0" iyy="1e-05" iyz="-0.0" izz="7e-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.18655"/>
      <geometry>
        <mesh filename="package://robotiq_epick_extend_visualization/meshes/suction_cup.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="dark_grey">
        <color rgba="0.4 0.4 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.18655"/>
      <geometry>
        <mesh filename="package://robotiq_epick_extend_visualization/meshes/suction_cup.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

</robot>
