<launch>
    <node pkg="arm_pkg" type="main.py" name="main" respawn="false" output="screen"/>
    <node pkg="arm_pkg" type="camera.py" name="camera" respawn="false" output="screen"/>
    <node pkg="arm_pkg" type="unet.py" name="unet" respawn="false" output="screen"/>
    <node pkg="arm_pkg" type="sgnet.py" name="sgnet" respawn="false" output="screen"/>
    <node pkg="arm_pkg" type="robot.py" name="robot" respawn="false" output="screen"/>
    <include file="/home/riseabb/johan_ws/myGraduationProject/ros_ws/src/drivers/irb120_extended_suction_cup_moveit_config/launch/demo.launch"/>
    <param name="unet_model_name" type="str" value="unet_model_improveddataset_attempt_4"/>
    <param name="unet_target_epoch" type="int" value="-1"/>
    <param name="sgnet_model_name" type="str" value="sgnet_model_improveddataset"/>
    <param name="sgnet_target_epoch" type="int" value="-1"/>
    <param name="image_height" type="int" value="720"/>
    <param name="image_width" type="int" value="1280"/>
</launch>